.callback {
    .callback__title {
        text-align: center;
    }


    .callback__form {
        display: flex;
        flex-direction: column;

        .form__row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            @include tablets() {
                flex-direction: column;
                margin-bottom: 0;
            }

            .input {
                width: 30%;
                background: none;
                border: none;
                border-bottom: 1px solid $red;
                padding: 0 0 20px 0;
                color: #ffffff;

                @include tablets() {
                    width: 100%;
                    margin-bottom: 20px;
                }

                &--comment {
                    width: 65%;

                    @include tablets() {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }

            .select {
                width: 30%;
                background: none;
                border: none;
                border-bottom: 1px solid $red;
                color: #ffffff;

                @include tablets() {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }

            .row__btn {
                width: 30%;

                @include tablets() {
                    width: 100%;
                }
            }
        }
    }
}