.callback {
    .callback__title {
        text-align: center;
    }


    .callback__form {
        display: flex;
        flex-direction: column;

        .form__row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            @include tablets() {
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
            }

            .input {
                width: 30%;
                background: none;
                border: none;
                border-bottom: 1px solid $red;
                padding: 0 0 20px 0;
                color: #ffffff;

                &::-webkit-input-placeholder {
                   color: #ffffff;
                  }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #ffffff;
                  }
                &:-ms-input-placeholder {
                    color: #ffffff;
                  }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #ffffff;
                  }

                @include tablets() {
                    width: 50%;
                    margin-bottom: 20px;
                }

                @include horizon {
                    width: 100%;
                }

                &--comment {
                    width: 65%;

                    @include tablets() {
                        width: 50%;
                        margin-bottom: 20px;
                    }

                    @include horizon {
                        width: 100%;
                    }
                }
            }

            .select {
                width: 30%;
                background: none;
                border: none;
                border-bottom: 1px solid $red;
                color: #ffffff;
                padding-bottom: 20px;
                -webkit-appearance: none;
                -moz-appearance: none;

                @include tablets() {
                    width: 50%;
                    margin-bottom: 20px;
                }

                @include horizon {
                    width: 100%;
                }

                option {
                    background: #000000;
                    color: #ffffff;
                }
            }

            .row__btn {
                width: 30%;

                @include tablets() {
                    width: 50%;
                    margin-bottom: 20px;
                }

                @include horizon {
                    width: 100%;
                }
            }
        }
    }
}