.footer {
    background: #000;
    padding-top: 50px;

    .footer__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablets() {
            flex-direction: column;
        }
    }

    .row__nav {
        display: flex;

        @include tablets() {
            flex-direction: column;
        }

        .nav__item {
            margin-bottom: 20px;
        }

        .item__link {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
            transition: .3s;

            @include tablets() {
                margin-right: 0;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .row__link {
        display: flex;
        text-decoration: none;
        transition: .3s;

        @include tablets() {
            flex-direction: column;
            align-items: center;
        }

        .link__text {
            transition: .3s;
            margin-right: 20px;

            @include tablets() {
                margin-right: 0;
            }
        }

        &:hover {

            .link__text {
                color: $red;
            }            
        }
    }
}