.footer {
    background: #000;
    padding-top: 50px;

    .footer__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .row__nav {
        display: flex;

        .item__link {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }
    }

    .row__link {
        display: flex;
        text-decoration: none;
        transition: .3s;

        .link__text {
            transition: .3s;
            margin-right: 20px;
        }

        &:hover {

            .link__text {
                color: $red;
            }            
        }
    }
}