.hero {
    min-height: 100vh;
    width: 100vw;
    position: relative;

    .hero__container {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .hero__slider {
        width: 100%;
        height: 60vh;
    }

    .slider__slide {
        background: url('../images/hero-slide-1.png') center center no-repeat;
        background-size: cover;
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide__title {
        text-transform: uppercase;
        margin: 0;
    }

    .slide__about {
        max-width: 470px;
    }

    .hero__link {
        color: #ffffff;
        text-decoration: none;
        display: flex;
        transition: .3s;
        position: absolute;
        bottom: 15px;   

        &:hover {
            color: $red;
        }

        .link__transform {
            transform: rotate(90deg);
            margin-left: 10px;
            font-size: 18px;
            margin: 0;
        }
    }
}