.license {
    padding-top: 100px;

    .license__container {
        background: #0D0D0D;
        flex-direction: row;

        @include tablets() {
            flex-direction: column;
        }
    }

    .license__img {
        width: 50%;
        
        @include tablets() {
            width: 100%;
        }

        .img__img {
            width: 100%;
        }
    }
}