.portfolio {
    padding-top: 100px;

    @include tablets() {
        padding-top: 0;
    }

    .portfolio__container {
        background: #0D0D0D;
        align-items: center;
    }

    .portfolio__title {
        text-align: center;
    }

    .portfolio__text {
        text-align: center;
    }

    .portfolio__imgs {
        display: flex;
        margin-top: 50px;
        height: 400px;
        width: 100%;

        @include tablets() {
            flex-direction: column;
            height: inherit;
            align-items: center;
        }

        img {
            transition: .3s;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &:hover {
                opacity: .6;
            }

            @include tablets() {
                margin-bottom: 20px;
            }
        }
    }

    .portfolio__left {
        width: 33.3%;
        overflow: hidden;
        background: $red;

        @include tablets() {
            height: 400px;
            background: none;
            margin-bottom: 20px;
            width: 60%;
        }

        @include horizon() {
            background: none;
            width: 100%;
            height: 350px;
            margin-bottom: 20px;
        }



        .left__img {
            width: 100%;
        }
    }

    .portfolio__center {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: $red;

        img {
            width: inherit;
            height: inherit;

            @include tablets() {
                width: 100%;
            }
        }

        @include tablets() {
            width: 60%;
            max-height: 1400px;
            background: none;
            margin-bottom: 20px;
        }

        @include horizon() {
            background: none;
            width: 100%;
            max-height: 1050px;
        }

        .center__top {
            display: flex;
            height: 50%;

            img {
                width: 100%;
                height: 100%;
            }

            .portfolio__link {
                width: 50%;

                @include tablets() {
                    width: 100%;
                }
            }
            
            @include tablets() {
                flex-direction: column;
            }
        }

        .center__bottom {
            height: 50%;
            display: flex;

            img {
                height: 100%;
            }

            .portfolio__link {
                @include tablets() {
                    width: 100%;
                }
            }
        }
    }

    .portfolio__right {
        width: 33.3%;
        overflow: hidden;
        background: $red;

        @include tablets() {
            height: 400px;
            width: 60%;
            background: none;
            margin-bottom: 20px;
        }

        @include horizon() {
            background: none;
            width: 100%;
            height: 350px;
        }
    }

    .portfolio__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        width: 210px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}