.services {
    padding-top: 100px;

    &--page {
        @include tablets() {
            padding-top: 250px;
        }
    }

    .services__container {
        background: #0D0D0D;
    }

    .services__title {
        text-align: center;
    }

    .services__text {
        text-align: center;
    }

    .services__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 50px;

        .list__item {
            width: 15%;
            border: 1px solid #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 160px;
            margin-bottom: 30px;

            @include tablets() {
                width: 45%;
            }
        }

        .item__text {
            text-align: center;
        }

        .item__link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: .3s;

            &:hover {
                background: $red;
            }
        }
    }

    &--menu {
        transform: translateX(9999px);
        transition: .3s;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;

        &--active {
            transform: translateX(0);
        }

        @include tablets() {
            padding-top: 250px;
        }
    }

    .services__nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        @include horizon() {
            flex-direction: column;
        }

        .item__link {
            text-decoration: none;
            color: #ffffff;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }

        .nav__item {

            @include horizon() {
                margin-bottom: 20px;
            }
        }
    }
}