.team {
    padding-top: 100px;
    
    @include tablets() {
        padding-top: 0;
    }

    .team__container {
        background: #0D0D0D;
        text-align: center;
    }

    .team__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;

        @include horizon() {
            flex-direction: column;
        }
        
        .list__item {
            background: #ffff;
            width: 23%;
            transition: .3s;

            &:hover {
                background: $red;

                .item__text {
                    color: #ffff;
                }

                .item__img {
                    opacity: .7;
                }
                
                .item__name {
                    color: #ffff;
                }
            }

            @include horizon() {
                margin-bottom: 30px;
                width: 100%;
            }

            .item__name {
                transition: .3s;
            }

            .item__img {
                width: 100%;
                transition: .3s;
            }
        }

        .item__text {
            color: #000000;
            margin-bottom: 35px;
            transition: .3s;
        }
    }
}