.underservices {
    padding-top: 100px;

    @include tablets() {
        padding-top: 250px;
    }

    .underservices__container {
        background: #0D0D0D;
        align-items: center;
    }   

    .underservices__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
    }

    .list__item {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ffffff;
        margin-bottom: 50px;
        margin-right: 20px;

        &:nth-child(6n+6) {
            margin-right: 0;
        }

        @include tablets() {
            width: 45%;
        }

        .item__link {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            text-decoration: none;
            transition: .3s;

            &:hover {
                background: $red;
                color: #ffffff;
            }
        }

        .item__line {
            margin-top: 20px;
            width: 50%;
            height: 2px;
            background: #ffffff;
        }

        .item__title {
            font-size: 18px;
            text-align: center;
            line-height: inherit;
        }

        .item__text {
            text-align: center;
        }
    }
}